.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
scraper/
token.txt
=*
data/*.jsonl
data/query_logs/*.json
model_config.yaml
.bot_token
.github_token
user_data/*
*.log
scratch/
data/lancedb/
channel_logs/
config/
user_info/
